#header {
margin: 0;
background-size: cover;
background-position: center;
background: url("../Images/immagine1.png");
}

.logo {
padding-top: 15px;
padding-left: 10px;
text-align: left;
}
a {
  color: rgba(255,255,255,1);
  text-decoration: none;
}
a:hover {
    color: yellow;
    text-decoration: underline;
}
ul {
	float: right;
  position: fixed;
  z-index: 2;
	right: 0;
	top: 0;
	/*visibility: hidden;*/
	width: 250px;
	max-width: 80%;
}
li {
	display: block;
	background-color: rgb(255,255,255,0.25);
	padding: 10px;
	margin: 10 px;
	margin: 0 40px 0 40px;
}
body {
font-family: "Abel";
background: rgba(0,0,0,1);
font-size: 1.2rem;
}
h1, h2 {
	color: yellow;
  margin-top: 0;
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: arial;
}
div {
min-height: 200px;
background-size: cover;
position: relative;
text-align: center;
}
p {
color: rgba(255,255,255,1);
padding: 10px;
line-height: 28px;
text-align: center;
position: relative;
bottom: 0;
margin-top: 0;
}
.screening {
	text-align: center;
	height: 200px;
	margin: 0;
	width: 100%;
  padding: 20px;
  border-width: 2px;
  border: white;
  align-items: center;
  justify-content: center;
}

.content {
  background: rgb(255,255,255,0.15);
  background-position: center;
  background-size: auto;
  padding: 10px;
}

.accademic {
	display: inline-block;
	width: 33%;
}

h3 {
  color: yellow;
  padding-top: 15px;
}
#button {
	background: rgba(0,0,0,0.5);
  color: rgb(252, 134, 225);
  padding: 5px;
  margin-top: 5px;
  border-color: rgba(0,0,0,0.5);
  border-width: 5px;
  border-radius: 10px;
  text-decoration: none;
}
.about {
	height: 600px;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
}
